@font-face {
    font-family: "LatoReg";
    src: url(fonts/Lato-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
  }

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.game{
    font-family: "LatoReg", sans-serif;

    width: 1500px;
    height: 800px;
    border: 15px solid;
    border-image: linear-gradient(to right, rgb(250, 82, 82), rgb(34, 139, 230)) 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


div.redPlayer, div.bluePlayer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
div.redPlayer{
   background-color: rgb(250, 82, 82, 0.06);
}
div.bluePlayer{
   background-color: rgb(34, 139, 230, 0.06);
}


div.Player1, div.Player2{
    margin-top: 35px;
    font-size: 48px;
    grid-row: 1 / 1;
    grid-column: 2 / 5;
}
div.Player1{
    color: rgb(250, 82, 82);
}
div.Player2{
    color: rgb(34, 139, 230);
}

div.Dice{
    position: relative;
    bottom: 60px;
    grid-row: 2;
    grid-column: 3/5;
    margin-left: 135px;
}
div.Dice > img{
    width: 200px;;
}


div.wrapperPointsRollHold{
    position: relative;
    bottom: 40px;
    grid-row: 3;
    grid-column: 2/6;
    display: flex;
    flex-flow: column wrap;
}

div.TempPoints{
    padding: 15px 75px 15px 75px;
    font-size: 75px;
    margin-left: 60px;
    border: 4px rgb(250, 82, 82) solid;
    align-self: center;
    width: fit-content;
    height: fit-content;
}
div.bluePlayer div.TempPoints{
    border: 4px rgb(34,139,230) solid;
}

div.RollHold{
    margin-left: 70px;
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
div.roll{
    font-size: 40px;
    align-self: center;
}
div.Hold{   
    font-size: 40px;
    align-self: center;
}
div.roll > img{
    width: 50px;
}
div.Hold > img{
    width: 50px;
}


div.globalPoints{
    padding: 15px 100px 15px 100px;
    border: 5px rgb(250, 82, 82) solid;
    height: fit-content;
    position: relative;
    bottom: 15px;
    grid-row: 4;
    grid-column: 4;
    font-size: 120px;
}
div.bluePlayer div.globalPoints{
    border: 5px rgb(34,139,230) solid;
}